img {
    height: 300px;
    width: 300px;
}

body{
    background-color: cyan;
}
.menu {
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
    cursor: pointer;
}

.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px gainsboro;
}
#ContactUs a {

    text-shadow: none !important;

    text-decoration: underline !important;

    color: blue !important;
}

#ContactUs {
    background-color: yellow;
}
 